.ads{
    display: block;
    position: relative;
    z-index: 1;
    height: 90px;
    margin-bottom: 20px;
    margin-top: 30px!important;
}

.ads-zone{
    height: 100%;
    position: relative;
    width: 100%;
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;
}
.img-ads{
    padding-left: 15px;
    padding-right: 15px;
}