.title-wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.title{
    display: flex;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    line-height: 1.3;
    text-transform: none;
    align-items: center;
    flex: 1 1;
}
.section-header{
    position: relative;
    display: flex;
    align-items: center;
    font-size: 28px;
    line-height: normal;
    font-weight: 700;
    letter-spacing: normal;
    color: var(--white);
    margin-bottom: 20px;
    text-transform: none;
}