.cnk-sidebar {
  position: relative;
  z-index: 100;
  width: 240px;
  background-color: var(--sidebar-bg);
  //height: 100%;
  padding-top: 70px;
  padding-bottom: 54px;
  height: calc(100vh - 90px);
}
.cnk-sidebar-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cnk-navbar {
  width: 100%;
}
.cnk-navbar-brand {
  width: 240px;
  height: 70px;
  position: fixed;
  top: 0;
  padding: 0 25px 0 28px;
  display: flex;
  align-items: center;
}

.cnk-btn-button {
  font-size: 14px;
  border-radius: 999px;
  line-height: normal;
  border: 0;
  display: inline-block;
  font-weight: 400;
  text-transform: none;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.cnk-logo {
  width: 120px;
  height: 40px;
  display: inline-block;
  background: var(--img-logo-mp3) 50% / contain no-repeat;
}

//sidebar middle

.cnk-sidebar-scrollbar {
  position: absolute;
  inset: 0px;
  overflow: hidden scroll;
  margin-top: 10px;
  margin-right: -6px;
  margin-bottom: 0px;
}
.vip-banner-sidebar {
  padding: 15px 8px;
  border-radius: 8px;
  margin: 10px 20px;
  text-align: center;
  background-image: linear-gradient(117deg, #5a4be7, #c86dd7 102%);
}
.banner {
  background-color: #ffdb00;
  border-color: #ffdb00;
  color: var(--black) !important;
  display: inline-block;
  padding: 6px 35px;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 999px;
  line-height: normal;
  border: 0;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.text {
  font-size: 12px;
  margin-bottom: 10px;
  font-weight: 600;
  border-color: #ffdb00;
  line-height: 1.67;
  color: var(--white);
}

//my-music

.cnk-navbar-my-music {
  padding-top: 15px !important;
  font-size: 12px;
}
.title-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 26px;
  font-weight: 700;
  color: var(--text-primary);
  text-transform: uppercase;
  margin: 0 28px 8px;
  white-space: nowrap;
}
.edit-middle {
  cursor: pointer;
}

//sidebar addplaylist

.btn-sidebar-add {
  bottom: 90px;
  position: fixed;
  width: 240px;
  left: 0;
  height: 54px;
  border-top: 1px solid var(--border-primary);
  padding: 0 28px;
  border-radius: 0;
  display: flex;
  align-items: center;
  color: var(--text-primary);
  font-weight: 700;
  cursor: pointer;
}
.icon-add-sidebar {
  font-size: 18px;
  margin-right: 10px;
  color: var(--text-primary);
}
