.container{
    width: 100%;
    background-image: url('https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/theme-background/zma.svg');
    display: flex;
    width: 100%;
    min-width: 768px;
    height: 100vh;
}