.container{
    width: 100%;
    background-image: url('../../../assets/images/bg1.svg');
    display: flex;
    width: 100%;
}
@media screen and (max-width:768px) {
    .container{
        height: calc(100vh - 90px);
    }
}