.cnk-mainpage {
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  position: relative;
  width: calc(100% - 570px);
  min-height: 100%;
  display: block;
}
.body-mainpage {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.cnk-selection {
  height: 100%;
  padding: 70px 4vw 0;
  position: absolute;
  inset: 0px;
  overflow: hidden scroll;
  margin-right: -6px;
}

.is-center {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  .button-more {
    border-radius: 999px;
    border: 1px solid var(--text-item-hover);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    text-align: center;
    color: var(--text-item-hover);
    background-color: transparent;
    padding: 8px 25px;
  }
}
.selection-header {
  position: relative;
  margin-bottom: 40px;
}
.chart-title {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.title {
  font-size: 40px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: normal;
  color: var(--text-item-hover);
  margin: 0;
}
.btn-play {
  width: 40px !important;
  height: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  background-color: var(--purple-primary);
  margin-left: 5px;
}
.week-chart-selection{
  border-radius: 16px;
    padding: 20px 10px;
}

