.is-center {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    .button-more {
      border-radius: 999px;
      border: 1px solid var(--text-item-hover);
      font-size: 14px;
      font-weight: 500;
      line-height: 1.43;
      text-align: center;
      color: var(--text-item-hover);
      background-color: transparent;
      padding: 8px 25px;
    }
  }