.is-center {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    .button-more {
      border-radius: 999px;
      border: 1px solid var(--text-item-hover);
      font-size: 14px;
      font-weight: 500;
      line-height: 1.43;
      text-align: center;
      color: var(--text-item-hover);
      background-color: transparent;
      padding: 8px 25px;
    }
  }
  .chart-box{
    border-radius: 16px;
    background-color: var(--chart-box-bg-alpha);
    padding: 20px 10px;
  }
  .box-header{
    display: flex;
    flex-direction: row;
    padding: 0 0 10px 40px;
    font-size: 24px;
    font-weight: 700;
    color: var(--text-item-hover);
    line-height: normal;
  }
  .btn-play {
    width: 40px !important;
    height: 40px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    background-color: var(--purple-primary);
    margin-left: 5px;
  }