.list {

  .chart-song-item {
    border-radius: 4px!important;
    background-color: hsla(0,0%,100%,.07);
    .list-item-chart {

        cursor: auto;
        &:hover{
            background-color: var(--alpha-bg);
        }
    }
  }
  .chart-song-item.mb-10{
    margin-bottom: 10px;
  }
  .chart-song-item.no-background{
    background-color: transparent !important;
    border-bottom: 1px solid var(--border-secondary);
  }
}
